<div class="header">
    <div class="heading-contianer">
        <h1 class="falcone-heading"> Finding Falcone !</h1>
    </div>
    <div class="falcone-menu-container desktop-header">
        <div class="falcone-menu margin-menu-right" (click)="goBack()" > Reset </div>  
        <div class="falcone-menu" (click)="geektrustRedirect()"> GeekTrust Home </div>
    </div>
    <div class="falcone-menu-container mobile-header">
        <div class="falcone-menu" (click)="geektrustRedirect()"> GeekTrust Home </div>
        <div class="falcone-menu margin-menu-right" (click)="goBack()" > Reset </div>  
    </div>
</div>
