.falcone-footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-content{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 15px 0px;
}