.planet-background{
    height: 150px;
    width: 150px;
    z-index: 0;
    background-size: contain;
    bottom: -13px;
    position: absolute;
    right: -12px;
}

.distance-summary{
    line-height:20px;
    font-size:12px;
}