/* You can add global styles to this file, and also import other style files */

body { 
    height: 100%;
    width: 100%; 
    margin: 0; 
    background:#27233A;
    font-family: 'Exo 2', sans-serif; 

    .falcone-heading {
        font-family: 'Exo 2', sans-serif; 
    }
}